{% extends 'base.html.twig' %}

{% block title %}HomePagina{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg mb-5">
        <ul class="nav">
            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/">Lid Home</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/training">Trainings overzicht</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href=/les>Lessen overzicht</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/register">Registreren</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/login">Inloggen</a>
            </li>
        </ul>
    </nav>


    <div class="HomeGallery">
        <img src="img/bokstraining.png" class="foto" alt="...">
        <img src="img/kickbokstraining.png" class="foto" alt="...">
        <img src="img/mma.png" class="foto" alt="...">
    </div>

    <hr>
    <div class="homeText">
        <h3>Welkom Admin!</h3>

        <p>jij bent de admin dus je kunt alles aanpassen en trainingen en lessen toevoegen
            <br>
        </p>
    </div>
    <hr>
    <style>
        .homeText{
            width: 50%;
            text-align: center;
            margin: auto;
        }

        .foto{
            width: 500px;
            height: 300px;
            margin-left: 55px;
        }

        .HomeGallery{
            width: 90%;
            margin: auto;
        }
        .mb-3{
            text-align: center;

        }
    </style>
    {% if app.user %}
    <div class="mb-3">
        <h4>je bent ingelogd als {{ app.user.username }},</h4><a href="{{ path('app_logout') }}"><h5>Log uit</h5></a>
    </div>
{% endif %}
{% endblock %}
