{% extends 'base.html.twig' %}


{% block title %}Contact{% endblock %}
{% block body %}
    <main>
        <div class="card-body  " style="max-width: 600px; margin: auto;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.9402316410487!2d4.247919915986218!3d52.04440147911783!2m3!1f0!2f0!3f0!
            3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b171dfd3195d%3A0x14cbe8c02cccb47c!2sTinwerf%2016%2C%202544%20ED%20Den%20Haag!5e0!3m2!1snl!2snl!4v1576148023918!5m2!1snl!2snl"

                    allowfullscreen=""></iframe>

        </div>

        <p>
            <b>Training Factory B.V.</b>
            <br>
            Bezoekadres: Tinwerf 16, 2544 ED Den Haag
            <br>
            Postadres: Postbus 310, 1800 BG Den haag
            <br>
            Telefoon: 070 6655444
            <br>
            Fax: 007 6655400
            <br>
            E-mail: training@factory.nl
            <br>
            KvK nummer: 302153553
            <br>

        </p>

    </main>



    <footer>
        <div style="padding: 30px; text-align: center;" class="bg-dark text-white">Trainings Centrum Den Haag
            Telefoonummer: 0645214425 <br> Developed by Kiran Karia
        </div>

    </footer>
    <style>
        p{
            text-align: center;
        }
        iframe{
            margin: auto;
            width: 600px;
            height: 600px;
        }
    </style>
{% endblock body %}