{% extends 'base.html.twig' %}


{% block title %}Lid worden!{% endblock %}
{% block body %}
    <h1>Lid worden!</h1>
    <div class="card-deck">
        <div class="card">
            <img src="img/bokstraining.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="img/kickbokstraining.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="img/mma.png" class="card-img-top" alt="...">
            <div class="card-body">

            </div>
        </div>

{% endblock %}