{% extends 'base.html.twig' %}

        {% block title %}Training{% endblock %}

        {% block body %}
            training
            <div class="card-deck">
                <div class="card">
                    <img src="img/bokstraining.png" class="card-img-top" alt="...">

                </div>
                <div class="card">
                    <img src="img/kickbokstraining.png" class="card-img-top" alt="...">

                </div>
                <div class="card">
                    <img src="img/mma.png" class="card-img-top" alt="...">
                    <div class="card-body">

                    </div>
                </div>

        {% endblock %}